## Pandas Part 7: Sorting Data

Corey Schafer's Pandas Part 7 [tutorial](https://www.youtube.com/watch?v=T11QYVfZoD0&list=PL-osiE80TeTsWmV9i9c58mdDCSskIFdDS&index=7)

In [9]:
people = {
    'first': ['Corey', 'Jane', 'John', 'Adam'],
    'Last': ['Schafer', 'Doe', 'Doe', 'Doe'],
    'email': ['CoreMSchafer@gmail.com', 'JaneDoe@email.com', 'JohnDoe@email.com', 'adoe@email.com']
}

In [10]:
import pandas as pd

In [11]:
df = pd.DataFrame(people)

In [12]:
df

   first     Last                   email
0  Corey  Schafer  CoreMSchafer@gmail.com
1   Jane      Doe       JaneDoe@email.com
2   John      Doe       JohnDoe@email.com
3   Adam      Doe          adoe@email.com

In [13]:
# sort by last name
df.sort_values(by='Last')

   first     Last                   email
1   Jane      Doe       JaneDoe@email.com
2   John      Doe       JohnDoe@email.com
3   Adam      Doe          adoe@email.com
0  Corey  Schafer  CoreMSchafer@gmail.com

In [14]:
df.sort_values(by='Last', ascending=False)

   first     Last                   email
0  Corey  Schafer  CoreMSchafer@gmail.com
1   Jane      Doe       JaneDoe@email.com
2   John      Doe       JohnDoe@email.com
3   Adam      Doe          adoe@email.com

In [15]:
# sort in descending order, col. Last and then col. first if there are any duplicates in the last column. eg 'Doe'
df.sort_values(by=['Last', 'first'], ascending=False)

   first     Last                   email
0  Corey  Schafer  CoreMSchafer@gmail.com
2   John      Doe       JohnDoe@email.com
1   Jane      Doe       JaneDoe@email.com
3   Adam      Doe          adoe@email.com

In [17]:
# suppose you want to sort the 'last' col. in descending order and for any duplicates, sort the 'first' col. in ascending order
df.sort_values(by=['Last', 'first'], ascending=[False, True])

   first     Last                   email
0  Corey  Schafer  CoreMSchafer@gmail.com
3   Adam      Doe          adoe@email.com
1   Jane      Doe       JaneDoe@email.com
2   John      Doe       JohnDoe@email.com

In [18]:
df.sort_values(by=['Last', 'first'], ascending=[False, True], inplace=True)

In [19]:
df

   first     Last                   email
0  Corey  Schafer  CoreMSchafer@gmail.com
3   Adam      Doe          adoe@email.com
1   Jane      Doe       JaneDoe@email.com
2   John      Doe       JohnDoe@email.com

In [20]:
# to go back to the original df:
df.sort_index()

   first     Last                   email
0  Corey  Schafer  CoreMSchafer@gmail.com
1   Jane      Doe       JaneDoe@email.com
2   John      Doe       JohnDoe@email.com
3   Adam      Doe          adoe@email.com

In [21]:
df['Last'].sort_values()

3        Doe
1        Doe
2        Doe
0    Schafer
Name: Last, dtype: object