## Pandas Part 3: Indexes - How to Set, Reset and use Indexes

Corey Schafer's Pandas Part 3 [tutorial](https://www.youtube.com/watch?v=W9XjRYFkkyw&list=PL-osiE80TeTsWmV9i9c58mdDCSskIFdDS&index=3)

In [18]:
people = {
    'first': ['Corey', 'Jane', 'John'],
    'Last': ['Schafer', 'Doe', 'Doe'],
    'email': ['coremschafer@gmail.com', 'janedoe@email.com', 'johndoe@email.com']
}

In [19]:
import pandas as pd

In [20]:
df = pd.DataFrame(people)

In [21]:
df

   first     Last                   email
0  Corey  Schafer  coremschafer@gmail.com
1   Jane      Doe       janedoe@email.com
2   John      Doe       johndoe@email.com

In [22]:
df['email']

0    coremschafer@gmail.com
1         janedoe@email.com
2         johndoe@email.com
Name: email, dtype: object

In [25]:
# set a column to be the index
df.set_index('email', inplace=True)

In [26]:
df

                        first     Last
email
coremschafer@gmail.com  Corey  Schafer
janedoe@email.com        Jane      Doe
johndoe@email.com        John      Doe

In [27]:
df.index

Index(['coremschafer@gmail.com', 'janedoe@email.com', 'johndoe@email.com'], dtype='object', name='email')

In [28]:
df.loc['janedoe@email.com']

first    Jane
Last      Doe
Name: janedoe@email.com, dtype: object

In [30]:
df.loc['janedoe@email.com', 'Last']

'Doe'

In [31]:
df.iloc[0]

first      Corey
Last     Schafer
Name: coremschafer@gmail.com, dtype: object

In [32]:
df.reset_index(inplace=True)

In [33]:
df

                    email  first     Last
0  coremschafer@gmail.com  Corey  Schafer
1       janedoe@email.com   Jane      Doe
2       johndoe@email.com   John      Doe