## Pandas Part 4: Filtering - Using Conditionals to Filter Rows and Columns

Corey Schafer's Pandas Part 4 [tutorial](https://www.youtube.com/watch?v=Lw2rlcxScZY&list=PL-osiE80TeTsWmV9i9c58mdDCSskIFdDS&index=4)

In [17]:
people = {
    'first': ['Corey', 'Jane', 'John'],
    'Last': ['Schafer', 'Doe', 'Doe'],
    'email': ['coremschafer@gmail.com', 'janedoe@email.com', 'johndoe@email.com']
}

In [18]:
import pandas as pd

In [19]:
df = pd.DataFrame(people)

In [20]:
df

   first     Last                   email
0  Corey  Schafer  coremschafer@gmail.com
1   Jane      Doe       janedoe@email.com
2   John      Doe       johndoe@email.com

In [21]:
filt = (df['Last'] == 'Doe')

In [22]:
filt

0    False
1     True
2     True
Name: Last, dtype: bool

In [23]:
df[filt]

  first Last              email
1  Jane  Doe  janedoe@email.com
2  John  Doe  johndoe@email.com

In [24]:
df.loc[filt, 'email']

1    janedoe@email.com
2    johndoe@email.com
Name: email, dtype: object

In [25]:
# & represents AND operator
filt = (df['Last'] == 'Doe') & (df['first'] == 'John')

In [26]:
df.loc[filt, 'email']

2    johndoe@email.com
Name: email, dtype: object

In [27]:
# | represents OR operator
filt2 = (df['Last'] == 'Schafer') | (df['first'] == 'John')

In [28]:
# filter for last name = schafer OR first name = John
df.loc[filt2, 'email']

0    coremschafer@gmail.com
2         johndoe@email.com
Name: email, dtype: object

In [29]:
# ~ does NOT match filt2
df.loc[~filt2, 'email']

1    janedoe@email.com
Name: email, dtype: object