In [1]:
people = {
    'first': ['Corey', 'Jane', 'John'],
    'Last': ['Schafer', 'Doe', 'Doe'],
    'email': ['coremschafer@gmail.com', 'janedoe@email.com', 'johndoe@email.com']
}

In [2]:
people['email']

['coremschafer@gmail.com', 'janedoe@email.com', 'johndoe@email.com']

In [3]:
import pandas as pd

In [4]:
df = pd.DataFrame(people)

In [5]:
df

   first     Last                   email
0  Corey  Schafer  coremschafer@gmail.com
1   Jane      Doe       janedoe@email.com
2   John      Doe       johndoe@email.com

In [6]:
df['email']

0    coremschafer@gmail.com
1         janedoe@email.com
2         johndoe@email.com
Name: email, dtype: object

In [7]:
type(df['email'])

pandas.core.series.Series

In [8]:
df.email

0    coremschafer@gmail.com
1         janedoe@email.com
2         johndoe@email.com
Name: email, dtype: object

In [11]:
# column slicing
df[['Last', 'email']]         # pass in a list:- note two sets of brackets

      Last                   email
0  Schafer  coremschafer@gmail.com
1      Doe       janedoe@email.com
2      Doe       johndoe@email.com

In [12]:
df.columns

Index(['first', 'Last', 'email'], dtype='object')

In [14]:
# access rows/columns by integer location
df.iloc[0]

first                     Corey
Last                    Schafer
email    coremschafer@gmail.com
Name: 0, dtype: object

In [15]:
# access multiple rows
df.iloc[[0, 1]]

   first     Last                   email
0  Corey  Schafer  coremschafer@gmail.com
1   Jane      Doe       janedoe@email.com

In [16]:
# access multiple rows and columns
df.iloc[[0, 1], 2]

0    coremschafer@gmail.com
1         janedoe@email.com
Name: email, dtype: object

In [17]:
# access rows/columns by labels using loc
df

   first     Last                   email
0  Corey  Schafer  coremschafer@gmail.com
1   Jane      Doe       janedoe@email.com
2   John      Doe       johndoe@email.com

In [18]:
df.loc[0]

first                     Corey
Last                    Schafer
email    coremschafer@gmail.com
Name: 0, dtype: object

In [19]:
df.loc[[0, 1]]

   first     Last                   email
0  Corey  Schafer  coremschafer@gmail.com
1   Jane      Doe       janedoe@email.com

In [20]:
df.loc[[0, 1], 'email']

0    coremschafer@gmail.com
1         janedoe@email.com
Name: email, dtype: object

In [24]:
df.loc[[0, 1], ['email', 'Last']]

                    email     Last
0  coremschafer@gmail.com  Schafer
1       janedoe@email.com      Doe